# Игнорируем виртуальное окружение Python
venv/
/venv/
.venv/

# Игнорируем кеш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем файлы баз данных
*.db
*.sqlite
*.sqlite3
my_bot.db

# Игнорируем файлы конфигурации IDE (VSCode, PyCharm)
.vscode/
.idea/

# Игнорируем файлы с переменными окружения (очень важно!)
.env
.env.*

# Игнорируем лог-файлы
*.log
logs/

# Игнорируем системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Папки с зависимостями и артефактами сборки
/dist/
/build/
*.egg-info/